<div id="note-form">
  <%= simple_form_for([ contact, note ], method: :post, remote: true) do |f| %>
    <%= f.input :description, as: :text, label: false %>
    <%= f.button :submit, "Ajouter cette note" %>
  <% end %>
</div>
