<div class="note" data-note-id="<%= note.id %>">
  <p><%= note.description %></p>
  <%#= link_to "", contact_note_path(contact, note), method: :delete, remote: true, class: "far fa-trash-alt trash-btn" %>
</div>
