#contacts-wrapper {
  display: flex;
  justify-content: space-around;
}

#contacts-list {
  flex: 0 0 28%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin: 20px 0;
  a {
    text-decoration: none;
    color: gray;
  }
}

#contacts-show {
  flex: 0 0 68%;
}

.contact {
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  display: flex;
  justify-content: space-between;
}

.contact:last-child {
  border-bottom: none;
}

.contact-list-org{
  opacity: 0.8;
}

.contact-contacts {
  a {
    text-decoration: none;
    color: gray;
  }
}

// Selected contact in the list
.active-contact {
  background-color: #FCFCFD;
}
