<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1460794418188-1bb7dba2720d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d2bfe8be765e57893fa314522a14050c&auto=format&fit=crop&w=1500&q=80');">
  <div class="banner-content">
    <h1>Free</h1>
    <p>Gérez vos contacts, devis et factures simplement !</p>
    <%= link_to t(".sign_in", default: "Démarrer"), new_user_session_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
